/* room container */
.App {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 30vw;
  min-width: 250px;
  width: 30%;
  height: auto;
  background-color: #B1DAEE;
}

#site-name {
  font-size: 2.3em;
  margin: 10px 20px;
  color: #1D6D93;
}

.site-header{
  flex-grow: 2;
  max-height: 80px;
  min-height: 50px;
}

.room-container {
  background-color: #BEB9F1;
  width: 100%;
}

.room-container h2 {
  margin: 10px;
  color: #BEB9F1;
  text-align: center;
}

.room-container header{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  background-color: #372CA2;
  width: 100%;
}

.rooms {
  font-size: 1.5em;
  color: #5147B3;
  text-align: center;
  cursor: pointer;
}

#active-room{
  background-color: #372CA2;
  color: #BEB9F1;
}

/* add room modal */
#room-label{
  color: #372CA2;
  margin: 5px;
}

#room-text-field{
  margin-left: 5px;
  border: 1px white solid;
}

#create-room {
  padding: 5px;
  background-color: #B1DAEE;
  border: 2px white solid;
  margin: 10px;
  font-size: 0.7em;
  cursor: pointer;
}

.modal-btn{
  padding: 5px;
  border: 2px white solid;
  margin: 10px;
  background-color: #BEB9F1;
  font-size: 0.9em;
  cursor: pointer;
}

.modal.showing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}

.modal > section{
  height: auto;
  width: 50vw;
  background-color: rgba(0,0,0,0.3);
  opacity: 70%;
  position: fixed;
  top: 15vh;
  left: 25vw;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
}

.chatroom-container {
  top: 0;
  left: 25vw;
  display: flex;
  flex-direction: column;
}

.chatroom-container header {
  background-color: #B1DAEE;
  color: #1D6D93;
  width: 75vw;
  flex-grow: 2;
  max-height: 80px;
  min-height: 50px;

}

.message-container {
  display: flex;
  top: 0;
  left: 25vw;
  background-color: #BEB9F1;
  justify-content: flex-start;
  align-items: center;
}

.message-content {
  font-size: 1em;
  flex-grow: 2;
  margin-left: 10px;
  border: 1px solid #372CA2;
}

.message-sentAt {
  margin: 0px 10px;
  font-size: 0.6em;
  color: grey;
  bottom: 0;
}

.message-username {
  font-size: 1.1em;
  color: #1D6D93;
  margin-right: 10px;
}
