sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 30vw;
  background-color: #B1DAEE;
}

#site-name {
  font-size: 2.5em;
  margin: 10px 50px;
  color: #1D6D93;
}

h2{
  color: #BEB9F1;
  background-color: #372CA2;
  width: 100%;
  text-align: center;
}

.room-container {
  background-color: #BEB9F1;
  width: 100%;
}

.rooms {
  font-size: 1.5em;
  color: #5147B3;
  margin-left: 20px;
}
