/* room container */
html, body {
  height: 100%;
  margin: 0;
}
.App {
  display: flex;
  height: 100vh;
  background-color: #B1DAEE;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: content;
  background-color: #BEB9F1;
  border-right: white 1px solid;
  max-width: 25vw;
}

#site-name {
  font-size: 2.0em;
  margin: 10px 20px;
  color: #372CA2;
}

.site-header{
  flex-basis: content;
}

.room-container {
  background-color: #BEB9F1;
  flex-basis: content;
}

.room-container h2 {
  margin: 10px;
  color: #BEB9F1;
  text-align: center;
  flex-basis: content;
}

.room-container header{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  background-color: #372CA2;
  flex-basis: content;
}

#room-head{
  flex-basis: content;
}
.rooms {
  font-size: 1.5em;
  color: #5147B3;
  text-align: center;
  cursor: pointer;
}

#active-room{
  background-color: #372CA2;
  color: #BEB9F1;
}

/* add room modal */
#room-label{
  color: #372CA2;
  margin: 5px;
}

#room-text-field{
  margin-left: 5px;
  border: 1px white solid;
}

#create-room {
  padding: 5px;
  background-color: #B1DAEE;
  border: 2px white solid;
  margin: 10px;
  font-size: 0.7em;
  cursor: pointer;
}

.modal-btn{
  padding: 5px;
  border: 2px white solid;
  margin: 10px;
  background-color: #BEB9F1;
  font-size: 0.9em;
  cursor: pointer;
}

.modal.showing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}

.modal > section{
  height: 25vh;
  width: 50vw;
  background-color: #B1DAEE;
  position: fixed;
  top: 15vh;
  left: 25vw;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: content;
}

.form-container {
  display: flex;
  align-items: center;
  background-color: white;
}

.chatroom-container {
  left: 25vw;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: fill;
  height: auto;
  background-color: #B1DAEE;
}

.messages-bin{
  overflow: auto;
}

.chatroom-container header {
  background-color: #B1DAEE;
  color: #1D6D93;
  margin-left: 10px;
}

.room-name{
  max-height: 2em;
}

.message-container {
  display: flex;
  top: 0;
  left: 25vw;
  background-color: #BEB9F1;
  justify-content: flex-start;
  align-items: center;
}

.message-content {
  font-size: 1em;
  flex-grow: 2;
  margin-left: 10px;
}

.message-sentAt {
  margin: 0px 10px;
  font-size: 0.6em;
  color: grey;
  bottom: 0;
}

.message-username {
  font-size: 1.1em;
  color: #1D6D93;
  margin-right: 10px;
}

.user-signIn {
  top: 0;
  display: flex;
  position: fixed;
  right: 0;
  flex-basis: content;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  background-color: #1D6D93;
  border: 1px white solid;
}

.user-signIn h1{
  font-size: 1.5em;
  color: #B1DAEE;
  margin: 5px;
}

.user-signIn button {
  background-color: #1D6D93;
  color: #B1DAEE;
  border: none;
  height: 50px;
  max-height: 80px;
  font-size: 1.2em;
  flex-basis: auto;
}

/* message input field */
.message-form-container {
  height: 10%;
  bottom: 0;
  display: flex;
}
.message-form-container form{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input-message-field{
  flex-grow: 2;
  height: 50px;
  background-color: #B1DAEE;
  color: #1D6D93;
  font-size: 1.2em;
  border: 1px solid #1D6D93;
  margin-left: 5px;
}

#submit-message {
  padding: 5px;
  border: 2px white solid;
  margin: 10px;
  background-color: #1D6D93;
  color: #B1DAEE;
  font-size: 1.2em;
  cursor: pointer;
}
