.theme-dark {
    --dark-text: ;
    --light-text: ;
    --dark-background: ;
    --light-background: ;
    --accent: ;
    --dark-grey: ;
}

.theme-light {
    --dark-text: ;
    --light-text: ;
    --dark-background: ;
    --light-background: ;
    --accent: ;
    --dark-grey: ;
}